<phpunit bootstrap="./vendor/autoload.php">
    <testsuites>
        <testsuite>
            <directory>tests</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory>src/</directory>
            <exclude>
                <directory suffix=".php">src/Psr</directory>
            </exclude>
        </whitelist>
    </filter>
</phpunit>